<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team_gdb.pentatonic">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pentatonic"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.song_detail.SongDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.select_song.SelectSongActivity"
            android:exported="true" />
        <activity
            android:name=".ui.create_cover.CreateCoverActivity"
            android:exported="true"></activity>
        <activity android:name=".ui.record_processing.RecordProcessingActivity" />
        <activity android:name=".ui.record.RecordActivity" />
        <activity android:name=".ui.user_verify.UserVerifyActivity"></activity>
        <activity android:name=".ui.register.RegisterActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/noStatusBar"></activity>
    </application>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>